.NavbarMobileContainer{
    background-color:#0f0012 ;
    color: #f2f2f2;
    height: 70px;
    position: fixed;
    border: none;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.navbar_logo_container{
    padding: .5em 0em ;
    
}


.menuiconcontainer{
    padding: 1.5em 1em;
  
}
.menupic{
    width: 32px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-right: 1em;


}

@media only screen and (min-width: 820px) {
    .NavbarMobileContainer{
        display: none;
    }
  }


  @media only screen and (max-width: 460px) {
 .navbar_logo{
    width: 160px;
 }

 .menupic{
    padding-top: 1.2em;
 }
  }  