.NavbarMobileContainer{
    width: 100vw;
    background-color:#0f0012 ;
    color: #f2f2f2;
    position: fixed;
    border: none;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NavbarMobileContainer a{
    padding: 20px 10px;
    width: 50%;
    display: flex;
    align-items: center;
}
.navbar_logo{
    padding: 10px 10px;
    width: 200px;
    padding: 0;
}
.containermobile2{
    width: 30px;
    padding-right: 20px;
}

.menupic{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.menu-container{
    height: 0;
    overflow: hidden;
    z-index: 10000000;
    transition: 0.7s ease;
    width: 100vw;
    position: fixed;
    top: 70px;
    background-color: #0f0012;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.menu-container li{
    padding: 10px 0;
}
.menu-container li a{
    font-size: 18px;
    text-decoration: none;
    color: #fff !important;
}

.active{
    height: 250px;
}

@media only screen and (min-width: 820px) {
    .NavbarMobileContainer{
        display: none;
    }
    .menu-container{
        display: none;
    }
  }


  @media only screen and (max-width: 460px) {
 .navbar_logo{
    width: 160px;
 }
  }  